
p {
    color: midnightblue;
}

img {
    width: 300px;
}

.king-charles-info {
    color: brown;
}

h1 {
    font-size: 70px;
    font-weight:300;
    font-style: italic;
    text-align: center;
    background-color:lightsalmon;
}

.french-bulldog-link, .adpot-a-dog-link {
    font-size: larger;
    font-weight:bolder;
    text-align:center;
   background-color:darksalmon

}

body {
    background-image: url(../images/background.avif);
    background-repeat:no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment:fixed;
}