
p {
    color: midnightblue;
}

img {
    width: 300px;
}

.king-charles-info {
    color: brown;
}

h1 {
    font-size: 70px;
    font-weight: 50;
    font-style: italic;
    text-align: center;
    background-color:lightsalmon;
    
}